#过滤临时文件
~*.*
*卷*.doc
*卷*.docx
*图片册.doc

#过滤编译中间结果
*.ncb
*.o
*.exe
*.user
*.opt
*.plg
bin
obj
Debug
Relase
*.layout
*.depend
*.cbp
build*
docs/Reference/eBooks/Primer c++ 第5版.pdf
02.PPT/Ch1-绪论/C++1_3.pdf
docs/Reference/eBooks/C++ Primer第五版中文版习题集(全).zip
docs/Reference/eBooks/C++ Primer, Fifth Edition.pdf
